@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .heading {
    @apply text-center text-4xl font-extrabold tracking-wider uppercase md:text-5xl;
  }
}